<p id="notice"><%= notice %></p>

<h1>Ad Replies</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ad_replies.each do |ad_reply| %>
      <tr>
        <td><%= link_to 'Show', ad_reply %></td>
        <td><%= link_to 'Edit', edit_ad_reply_path(ad_reply) %></td>
        <td><%= link_to 'Destroy', ad_reply, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ad Reply', new_ad_reply_path %>
