<%= form_tag({:action => :create}, :multipart => true) do %>
  <%= hidden_field_tag "advertisement[category_id]", @category.id if @category.present? %>
  <%= hidden_field_tag "advertisement[active]", false %> 
  <%= hidden_field_tag "advertisement[user_id]", current_user.id %> 
  <div id="content-wrapper">
    <fieldset id="fbsignin-form">
      <legend>Post your Ad (<%= @category.name if @category.present? %>)</legend>
      <div id="content-col">
        <div class="clear"></div>
        <% if advertisement.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= pluralize(advertisement.errors.count, "error") %> prohibited this advertisement from being saved:
            </h2>
            <ul>
              <% advertisement.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>        
        <div id="tab2" class="tab_content active_content">
          <div class="required-field">
            <%= text_field_tag "advertisement[title]","",{:placeholder => "Ad Title", :maxlength => "20",:required => true} %>
            <%= text_field_tag "advertisement[price]","",:placeholder => "Price", :maxlength => "20",:required => true  %>
            <%= text_area_tag "advertisement[description]","",:placeholder => "Describe",:cols => "40",:rows => "10",:required => true %>
            <%= hidden_field_tag "advertisement[make_id]" %>
            <% condition_arr = [["Condition",""],["Perfect inside and out","Perfect inside and out"],["A bit of wear & tear, all repaired","A bit of wear & tear, all repaired"],["Normal wear & tear, a few issues","Normal wear & tear, a few issues"],["Lots of wear & tear to the body","Lots of wear & tear to the body"]] %>
            <%= select_tag("advertisement[condition]",options_for_select(condition_arr,selected: ""),{id: "id_body_condition", required: true,include_blank: false}) %>
            <%= text_field_tag "advertisement[phone_number]","",:placeholder => "Phone number", :maxlength => "20",:pattern =>"\+?[0-9]*",:id=> "id_phone_number",:required => true  %>
            <%= select_tag("advertisement[warrenty]",options_for_select([["Warranty",""],["Yes","Yes"],["No","No"],["Does not apply","Does not apply"]],selected: ""),{id: "id_warranty", required: true,include_blank: false}) %>
            <div class="photo-uploader-fallback">
              <h2>Add up to 10 photos</h2>
              <div class="" style="margin-top: 10px">
                <label for="id_photo0" >
                  Main photo:
                </label>
                <%= file_field_tag "main_image",:style=> "margin-top: 10px" %>
              </div>
              <% (0..9).to_a.each do |number| %>
                <div class="" style="margin-top: 10px">
                  <label for="id_photo1" >
                    <% if number == 0 %>
                      Alternative Photo:
                    <% end %>  
                  </label>
                  <%= file_field_tag "alternative_images[]",:style=> "margin-top: 10px" %>
                </div>
              <% end %>
            </div>
            <div class="" style="margin-top: 10px">
              <br>
              <label for="id_neighbourhood" >
                <h4>   Neighbourhood: </h4>
              </label>
              <%= select_tag("advertisement[location_id]",options_for_select([["Choose Location",""]] + Location.all.collect{|aa| [aa.name,aa.id]},selected: ""),{id: "id_neighbourhood", required: true,include_blank: false}) %>
              <%= text_field_tag "advertisement[gps_coordinate]","",:placeholder => "GPS Coordinates", :maxlength => "20",:pattern =>"\+?[0-9]*",:id=> "id_phone_number",:required => true  %>
            </div>
            <div id="map-wrapper">
              <%= submit_tag "Submit",:class=> "button button-yalla button-green proxima",:id=> "enter-details-submit" %>
            </div>
          </div><!-- end #tab2.tab_content -->
        </div>
        <p>
        </p>
        <p>&nbsp; </p>
      </div>  
    </fieldset>
  </div>
<% end %>
<style type="text/css">
  #alternative_images_ {
    border-left: 2px solid #ee0400;
  }
</style>