<%= stylesheet_link_tag "application/fotorama" %>
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->
<div id="content-wrapper">                
  <div class="Homepage">
    <%= render :partial => "search_box",locals: {category: @category ,alias_name: (@parent_category.present? ? @parent_category.alias_name : ""), html_view: (@category.present? ? @category.html_view : "")} %>
    <div class="Homepage__card">
      <div>
      <h3>
        <span class="red"><%= @parent_category.name %> >> <%= @category.name %>
        </span>  
      </h3>
                <span id="watch-this" class="classified-detail-buttons" align="right">
            <span id="c_id_13561955:c_type_200:watch_this">
              <a href="/watchlist/motors/used-cars/13561955/1/" id="watch_this_logged">
                <div style="font-size: 24px; line-height: 1.5em;"><i class="fa fa-fw fa-star-o"></i></div>
              </a>
            </span>
          </span>
      </div>
      <div class="Trending__container cf">
        <div id="photos">

          <h2 class="Homepage__card__title">
            <span class="red">
              <%= @advertisement.title %>
            </span>
          </h2>
          <div class="fotorama" data-width="700" data-maxwidth="100%"data-ratio="16/9" data-allowfullscreen="true" data-nav="thumbs" align="center">
            <% empty_image_loop = 10 - @advertisement.images.count %>
            <% @advertisement.images.each do |image| %>
              <%= image_tag(image.avatar.url,size: "1050x1050") %>
            <% end %>
            <% empty_image_loop.times.each do |aa| %>
              <%= image_tag("no-image-available.jpg") %>
            <% end %>
          </div>
        </div>             
        <br>
        <div align="center">
          <h2 class="Homepage__card__title">
            <span class="red">Price: € <%= @advertisement.price %></span>
          </h2>   
          <div class="posted-on">Posted on: <%= @advertisement.updated_at.strftime("%d %B %Y") %></div>
          <div class="posted-on">Contact Info: <%= @advertisement.phone_number %></div> 
          <div class="posted-on">GPS Coordinates: <%= @advertisement.gps_coordinate %></div> 
          <br><br>
          <table width="70%" border="1" bordercolor="#FcFcFc">
            <% data_array = populate_data(@advertisement) %>
            <% data_array.in_groups_of(2).each do |datas| %> 
              <tr>
                <% datas.each do |key| %> 
                  <td><%= key.keys[0].to_s %></td>
                  <td><%=key.values[0].to_s %></td>
                <% end %>
                </tr>
            <% end %>
          </table>
          <br>
          <h2 class="Homepage__card__title"><span class="black">Description</h2>
            <%= @advertisement.description %>
        </div> 
      </div>
    </div>
    <br><br><br>
    <h3 class="listing-details-header">
      Reply to this Ad:
    </h3>
    <div class="Homepage__card" style="background-color:#F4F4F4">
      <br>
      <div class="Trending__container cf">
        <div id="respond">
          <center>
            <form method="post" enctype="multipart/form-data" action="" id="contact-form">
              <table width="60%">    
                <tr>
                  <td>Your Email</td>
                  <td><input class="textbox" id="id_email" name="email" type="text"></td>
                </tr>
                <tr>
                  <td>Phone No:</td>
                  <td><input class="textbox" id="phone" name="phone" type="text"></td>
                </tr>
                <tr>
                  <td>Message</td>
                  <td><textarea cols="40" id="id_message" name="message" rows="10"></textarea></td>
                </tr>
                <tr>
                  <td></td>
                  <td>
                    <div id="captcha">
                    </div>
                  </td>
                </tr>
              </table>
              By clicking on 'Send Reply', I agree to the Regensburg <a href="/terms/">Terms &amp; Conditions</a> and <a href="/privacy/">Privacy Policy</a>
              <button type="submit" class="large blue awesome dark-red-outline-hover">
                Send reply
              </button>        
            </form>
          </center>    
          <br>
        </div>
      </div>        
    </div>
  </div>
  <br>
</div> 
