<style type="text/css">
  .icon-c {
    color: yellow;
    font-size: 23 !important
}

</style>
<%= stylesheet_link_tag "application/fotorama" %>
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->
<div id="content-wrapper">                
  <div class="Homepage">
    <%= render :partial => "search_box",locals: {category: @category ,alias_name: (@parent_category.present? ? @parent_category.alias_name : ""), html_view: (@category.present? ? @category.html_view : "")} %>
    <div class="Homepage__card">
      <div class="Trending__container cf">
        <div id="photos">
          <h2 class="Homepage__card__title" style="text-align: left">
            <span class="red">
              <%= @advertisement.title %>
            </span>
            <%= hidden_field_tag "advertisement_id",@advertisement.id %>
            <%= hidden_field_tag "user_id",current_user.id %>
            <span style="margin-left: 82%;margin-top: 10%">
              <a href="javascript:" onclick="save_as_bookmark()">
                <span class="add-bookmark-block" style="font-size: 24px; line-height: 1.5em;">
                  <% if @bookmark_present %>
                    <i class="fa fa-star fa-lg icon-c"></i>
                  <% else %>
                    <i class="fa fa-fw fa-star-o i"></i>
                  <% end %>  
                </span>
              </a>
            </span>
          </h2>
          <div class="fotorama" data-allowfullscreen="true" data-nav="thumbs" align="center">
            <%# empty_image_loop = 10 - @advertisement.images.count %>
            <% @advertisement.images.each do |image| %>
              <%= image_tag(image.avatar.url,size: "1050x1050") %>
            <% end %>
            <%# empty_image_loop.times.each do |aa| %>
              <%#= image_tag("no-image-available.jpg") %>
            <%# end %>
          </div>
        </div>             
        <br>
        <div align="center">
          <h2 class="Homepage__card__title">
            <span class="red">Price: € <%= @advertisement.price %></span>
          </h2>   
          <div class="posted-on">Posted on: <%= @advertisement.updated_at.strftime("%d %B %Y") %></div>
          <div class="posted-on">Contact Info: <%= @advertisement.phone_number %></div> 
          <div class="posted-on">GPS Coordinates: <%= @advertisement.gps_coordinate %></div> 
          <br><br>
          <table width="70%" border="1" bordercolor="#FcFcFc">
            <% data_array = populate_data(@advertisement) %>
            <% data_array.in_groups_of(2).each do |datas| %> 
              <tr>
                <% datas.each do |key| %>
                  <% if key.present? %>
                    <td><%= key.keys[0].to_s %></td>
                    <td><%=key.values[0].to_s %></td>
                  <% end %>
                <% end %>
                </tr>
            <% end %>
          </table>
          <br>
          <h2 class="Homepage__card__title"><span class="black">Description</h2>
            <%= @advertisement.description %>
        </div> 
      </div>
    </div>
    <br><br><br>
    <h3 class="listing-details-header">
      Reply to this Ad:
    </h3>
    <div class="Homepage__card" style="background-color:#F4F4F4">
      <br>
      <div class="Trending__container cf">
        <div id="respond">
          <center>
            <%= form_for(@ad_reply) do |f| %>
              <% if @ad_reply.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@ad_reply.errors.count, "error") %> prohibited this reply from being saved:</h2>
                  <ul>
                    <% @ad_reply.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <table width="60%">    
                <tr>
                  <td>Your Email</td>
                  <td>
                  <%= hidden_field_tag "ad_reply[advertisement_id]",@advertisement.id %>
                  <%= text_field_tag "ad_reply[email]","",:placeholder => "Email", :maxlength => "20",:id=> "id_phone_number",:required => true %>
                </tr>
                <tr>
                  <td>Phone No:</td>
                  <td>
                    <%= text_field_tag "ad_reply[phone_number]","",:placeholder => "Phone number", :maxlength => "20",:pattern =>"\+?[0-9]*",:id=> "id_phone_number",:required => true %>
                  </td>
                </tr>
                <tr>
                  <td>Message</td>
                  <td>
                    <%= text_area_tag "ad_reply[message]","",:cols => "40",:rows => "10",:required => true %>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td>
                    <div id="captcha">
                    </div>
                  </td>
                </tr>
              </table>
              By clicking on 'Send Reply', I agree to the Regensburg <a href="/terms/">Terms &amp; Conditions</a> and <a href="/privacy/">Privacy Policy</a>
                <button type="submit" class="large blue awesome dark-red-outline-hover">
                  Send reply
                </button>
            <% end %>
          </center>    
          <br>
        </div>
      </div>        
    </div>
  </div>
  <br>
</div> 
<script type="text/javascript">
  function save_as_bookmark(){
    advertisement_id = $("#advertisement_id").val()
    user_id = $("#user_id").val()
    $.ajax({
      type: "POST",
      url: "/add-bookmark",
      data: {"advertisement_id" : advertisement_id,"user_id": user_id},
      beforeSend: function () {
      },
      success: function(response){
        $(".add-bookmark-block").html("<i class='fa fa-star fa-lg icon-c'></i>")
        return false;
      }
    })
    return false;
  }
</script>>