<div id="content-wrapper">
  <div id="content-col">
    <div class="required-field">
      <p>Title: <%= @advertisement.title %></p>
      <p>Price: <%= @advertisement.price %></p>
      <p>Make: <%= @advertisement.make %></p>
      <p>Description: <%= @advertisement.description %></p>
      <% if @advertisement.category and @advertisement.category.alias_name == "user-car-for-sale" %>
        <p>Kilometers: <%= @advertisement.kilometers %></p>
        <p>Year: <%= @advertisement.year %></p>
        <p>Body Type: <%= @advertisement.body_type %></p>
        <p>Color: <%= @advertisement.color %></p>
        <p>Transmission Type: <%= @advertisement.transition_type %></p>
        <p>Regional Specs: <%= @advertisement.regional_specs %></p>
        <p>No. of Cylinders: <%= @advertisement.no_of_cylinders %></p>
        <p>Doors: <%= @advertisement.doors %></p>
        <p>Horsepower: <%= @advertisement.horse_power %></p>
        <p>Fuel Type: <%= @advertisement.fuel_type %></p>
        <p>Technical Features: <%= @advertisement.technical_features %></p>
      <% end %>
      <p>Condition: <%= @advertisement.condition %></p>
      <p>Phone Number: <%= @advertisement.phone_number %></p>
      <p>Warranty: <%= @advertisement.warrenty %></p>
      <p>Extras: <%= @advertisement.extras %></p>
      <p>Main photo:<p>
      </p><%= image_tag (@advertisement.main_image.present? ? @advertisement.main_image.avatar.url : ""),:alt => "No Image" ,:style => "width: 28%" %></p>
      <p>Alternative Images: </p>
      <% @advertisement.alternate_images.each do |img| %>
        <p><%= image_tag (img.present? ? img.avatar.url : ""),:alt => "No Image" ,:style => "width: 28%" %></p>
      <% end %>  
      <p>Neighbourhood: <%= @advertisement.locate_your_item %></p>
    </div>
  </div><!-- end #tab2.tab_content -->
</div>


