<div class="Searchbox__container" style="margin-top: 5px !important;">
  <div class="Searchbox__top cf">
    <div class="Searchbox__square" v-bind:style="{cursor: currentCategory != '--' ? 'pointer' : 'initial'}">
      <div v-if="currentCategory == '--'"><%= @category.name %>:
      </div>
      <div v-cloak v-else @click="changeSearchCategory('--')">
        <br> Regensburg Web
      </div>
    </div>
    <% @categories.each do |category| %>
      <a href="<%= show_category_page_path(category.alias_name) %>">
        <div class="Searchbox__square" style="color: #fff">
          <div class="Searchbox__category__icon">
          </div>
          <%= category.name %>
        </div>
      </a>  
    <% end %>
    <div class="Searchbox__square">
      <div class="Searchbox__category__icon">
      </div>
    </div>
    <div class="Searchbox__square">
      <div class="Searchbox__category__icon">
      </div>
    </div>
    <div class="Searchbox__square">
      <div class="Searchbox__category__icon">
      </div>
    </div>
    <div class="Searchbox__square">
      <div class="Searchbox__category__icon">
      </div>
    </div>
  </div>
  <%= form_tag("/search?category=#{alias_name}",method: :get) do %>
  <div class="Searchbox__bottom">
    <% if html_view == "0" %>
      <%= select_tag  "search[category_id]",options_for_select(@category.children.pluck("name,id"),selected: (params[:search] and params[:search][:category_id])),prompt: " Select Category",class: "Searchbox__keyword__input1 select_class" %>
      <%= select_tag  "search[make_id]",options_for_select([["Make",""]] + Make.pluck("name","id"),selected: (params[:search] and params[:search][:make_id])),prompt: "Select Make",class: "Searchbox__keyword__input1 select_class" %>
      <%= select_tag  "search[year]",options_for_select(((Time.now.year - 25)..(Time.now.year)).to_a.reverse.collect{|aa| [aa,aa]},selected: (params[:search] and params[:search][:year])),prompt: "Select Year",class: "Searchbox__keyword__input1 small_select_class" %>
      <br><br>
    <% end %>
    <%= text_field_tag "search[title]","",class: "Searchbox__keyword__input",placeholder: "Enter keywords",:value => (params[:search] and params[:search][:title]) %>
    <%= hidden_field_tag "search[parent_category_id]", @category.id if @category.present?%>
    <input type="submit" class="Searchbox__search__button" value="Search">
  </div>
  <% end %>
</div>
<style type="text/css">
  .select_class{
    width: 275px; 
    height: 25px;
  }

  .small_select_class{
    width: 125px; 
    height: 25px;
  }
</style>