<div id="page-wrapper">
  <div id="help-slider" style="display:none"></div>
  <div id="container" class="">
    <div id="content-wrapper">
      <fieldset id="fbsignin-form">
	    <legend>Post Your Ad</legend>
        <div id="content-col" class="category-tab">
          <div class="clear"></div>
		      <ul class="tabs">
            <% @categories.each_with_index do |category,index| %>
        			<li id="<%= index %>_tab" class="<%= index == 0 ? 'active' : '' %>">
  	       		  <span class="lefttab"></span>
                <a href="javascript:void(0)" id = "<%= index%>">
                  <%= category.name %>
                </a>
  			        <span class="righttab"></span>
  			      </li>
    		    <% end %>
	        </ul>
    		  <div class="tab_container">
            <% @categories.each_with_index do |category,index| %>
  		        <div id="tab<%= index %>" class="tab_content <%= index == 0 ? 'active_content' : '' %>">
                <%= render :partial => "home/sub_categories",:locals => {:category => category} %>
              </div><!-- end #tab1 -->
            <% end %>  
      	  </div><!-- end .tab_container -->
  	    </div><!-- end #content-col -->
      </fieldset>
      <div style="display:none;">
    	  <div style="display:inline;">
		    </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $(".category-tab li").click(function(){
      $(".category-tab li").removeClass("active")
      $(this).addClass("active")
      div = "#tab"+ $(this).attr("id").split("_")[0]
      $(".tab_container div").hide()
      $(div).show()
    })
  })
</script>