<div id="content-wrapper">
  <div class="Homepage">
    <div class="Hero__container">
      <h1 class="Hero__title" v-show="currentCategory == '--'">
        The best place to buy your car and sell your house hold items <br> in Regensburg.
      </h1>
      <div class="Searchbox__container">
        <div class="Searchbox__top cf">
          <div class="Searchbox__square" v-bind:style="{cursor: currentCategory != '--' ? 'pointer' : 'initial'}">
            <div v-if="currentCategory == '--'">
              Search All:</div>
            <div v-cloak v-else @click="changeSearchCategory('--')">
		      All of <br> Regensburg Web
            </div>
          </div>
          <% @categories.each do |category| %>
            <a href="<%= show_category_page_path(category.alias_name) %>">
              <div class="Searchbox__square" style="color: #fff">
                <div class="Searchbox__category__icon">
                </div>
                <%= category.name %>
              </div>
            </a>  
          <% end %>
          <div class="Searchbox__square">
            <div class="Searchbox__category__icon">
            </div>
          </div>
          <div class="Searchbox__square">
            <div class="Searchbox__category__icon">
            </div>
          </div>
          <div class="Searchbox__square">
            <div class="Searchbox__category__icon">
            </div>
          </div>
          <div class="Searchbox__square">
            <div class="Searchbox__category__icon">
            </div>
          </div>
        </div>
        <%= form_tag("/search",method: :get) do %>
          <div class="Searchbox__bottom">
            <%= text_field_tag "search[title]","",class: "Searchbox__keyword__input1",placeholder: "Enter keywords",:value => (params[:search] and params[:search][:title]) %>
            <%= hidden_field_tag "search_type" ,"normal_search"%>
            <input type="submit" class=" Searchbox__search__button" click="formSubmit" value="Search">
          </div>
        <% end %>  
      </div>
    </div>
    <div class="Homepage__card">
      <h2 class="Homepage__card__title"><span class="red">Latest Ad</span> on Regensburg</h2>
      <div class="Trending__container cf">
        <% @latest_ad.each do |latest_ad| %>
          <a href="<%= advertisement_path(latest_ad.id) %>" class="Trending__block">
            <div class="Trending__icon">
              <% if latest_ad.main_image.present? %>
                <%= image_tag latest_ad.main_image.avatar.url(:thumb),:alt => "No Image Available" ,:style => "width: 98%;height: 98%" %>
              <% else %>
                <span style="margin-left: 23px">No Image Available</span>
              <% end %>  
            </div>
            <div class="Trending__tag"><%= latest_ad.title %></div>
          </a>
        <% end %>
      </div>
    </div>
    <div class="Homepage__card">
      <h2 class="Homepage__card__title"><span class="red">Most Popular</span> Categories</h2>
      <div class="Categories__container cf">
        <% @categories.each do |category| %>
          <div class="Category__block">
            <div class="Category__block__heading">
              <!-- <img src="/static/home/img/icons/categories-icon/motors-icon.png"> -->
              <a href="<%= show_category_page_path(category.alias_name) %>">
                <span style="color: #7C6085;"><%= category.name %></span>
                <span class="Category__block__count" v-cloak><%= category.children.count %></span>
              </a>
              <a href="<%= show_category_page_path(category.alias_name) %>" class="Categories__view__all">View All</a>
            </div>
            <div class="Category__links__area">
              <% category.children.each do |child| %>
                <%= link_to(child.name,show_category_page_with_children_path(category.alias_name,child.alias_name),:class => "Category__link__button") %>
              <% end %>  
            </div>
          </div>
        <% end %>
        <div class="Category__block mr0">
          <div class="Category__all">
        	<div id="motors-modal" class="Category__modal__block mfp-hide">
		      <div class="Category__modal__heading cf">
			    <h3 style="color: #7C6085;">Motors <span class="Category__block__count" v-cloak>#{motors.count}</span></h3>
		      </div>
		      <ul>
			    <li v-for="item in motors.children">
				  <a href="#{item.url}">#{ item.display_name }</a>
			    </li>
         	  </ul>
	       </div>
        	<div id="item-for-sale-modal" class="Category__modal__block mfp-hide">
		      <div class="Category__modal__heading cf">
			    <h3 style="color: #68BD45;">Classifieds <span class="Category__block__count" v-cloak>#{itemForSale.count}</span></h3>
		      </div>
		      <ul>
			    <li v-for="item in itemForSale.children">
				  <a href="#{item.url}">#{ item.display_name }</a>
			    </li>
		      </ul>
	        </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Homepage__card Homepage__marketing">    
      <a href="#" target="_blank">
        <!-- <img src="/static/home/img/marketing/know-your-rights-banner-en.jpg"> -->
      </a>
      <a href="#" target="_blank">
        <!-- <img src="/static/home/img/marketing/motor-banner.png"> -->
      </a>
    </div>
    <div class="Category__dump" style="display: none;">
    </div>
  </div>
</div>
         