<div id="content-wrapper">
  <div class="Homepage">
    <div class="Hero__container">
      <h1 class="Hero__title" v-show="currentCategory == '--'">
        The best place to buy your car and sell your house hold items <br> in Regensburg.
      </h1>
      <div class="Searchbox__container">
        <div class="Searchbox__top cf">
          <div class="Searchbox__square" v-bind:style="{cursor: currentCategory != '--' ? 'pointer' : 'initial'}">
            <div v-if="currentCategory == '--'" style="margin-top: 24px;">
              Search All:</div>
            <div v-cloak v-else @click="changeSearchCategory('--')">
		      All of <br> Regensburg Web
            </div>
          </div>
          <div class="Searchbox__square">
            <div class="Searchbox__category__icon">
              <a href="<%= show_category_page_path(@motor_category.alias_name) %>"><i class="material-icons md-36" style="color:#FFF;">directions_car</i></a>  
            </div>
            <%= @motor_category.name %>
          </div>
          <div class="Searchbox__square">
            <div class="Searchbox__category__icon">
              <a href="<%= show_category_page_path(@classified_category.alias_name) %>"><i class="material-icons md-36" style="color:#FFF;">store</i></a>
            </div>
            <%= @classified_category.name %>
          </div>
          <div class="Searchbox__square">
            <div class="Searchbox__category__icon">
              <i class="material-icons md-36">hourglass empty</i>
            </div>
          </div>
          <div class="Searchbox__square">
            <div class="Searchbox__category__icon">
              <i class="material-icons md-36">hourglass empty</i>
            </div>
          </div>
          <div class="Searchbox__square">
            <div class="Searchbox__category__icon">
              <i class="material-icons md-36">hourglass empty</i>
            </div>
          </div>
          <div class="Searchbox__square">
            <div class="Searchbox__category__icon">
              <i class="material-icons md-36">hourglass empty</i>
            </div>
          </div>
        </div>
        <%= form_tag ("/search") do %>
          <div class="Searchbox__bottom">
            <%= text_field_tag "search[title]","",class: "Searchbox__keyword__input",placeholder: "Enter keywords" %>
            <%= hidden_field_tag "search_type" ,"normal_search"%>
            <input type="submit" class=" Searchbox__search__button" click="formSubmit" value="Search">
          </div>
        <% end %>  
      </div>
    </div>
    <div class="Homepage__card">
      <h2 class="Homepage__card__title"><span class="red">Trending</span> on Regensburg</h2>
      <div class="Trending__container cf">
        <a href="/search/?keywords=%23starwars" class="Trending__block">
          <div class="Trending__icon">
            <!-- <img src="/static/home/img/icons/trending-icons/starwars-icon.png"> -->
          </div>
          <div class="Trending__tag">#starwars</div>
        </a>
        <a href="/search/?keywords=%23philips" class="Trending__block">
          <div class="Trending__icon">
            <!-- <img src="/static/home/img/icons/trending-icons/home-appliances-icon.png"> -->
          </div>
          <div class="Trending__tag">#philips</div>
        </a>
        <a href="/search/?keywords=%23reebok" class="Trending__block">
          <div class="Trending__icon">
            <!-- <img src="/static/home/img/icons/trending-icons/shoes-icon.png"> -->
          </div>
          <div class="Trending__tag">#reebok</div>
        </a>
        <a href="/search/?keywords=%23iphone" class="Trending__block">
          <div class="Trending__icon">
            <!-- <img src="/static/home/img/icons/trending-icons/iphone-icon.png"> -->
          </div>
          <div class="Trending__tag">#iphone</div>
        </a>
        <a href="/search/?keywords=%23canon" class="Trending__block">
          <div class="Trending__icon">
            <!-- <img src="/static/home/img/icons/trending-icons/camera-icon.png"> -->
          </div>
          <div class="Trending__tag">#canon</div>
        </a>
        <a href="/search/?keywords=%23lenovo" class="Trending__block">
          <div class="Trending__icon">
            <!-- <img src="/static/home/img/icons/trending-icons/laptop-icon.png"> -->
          </div>
          <div class="Trending__tag">#lenovo</div>
        </a>
      </div>
    </div>
    <div class="Homepage__card">
      <h2 class="Homepage__card__title"><span class="red">Most Popular</span> Categories</h2>
      <div class="Categories__container cf">
        <div class="Category__block">
          <div class="Category__block__heading">
            <!-- <img src="/static/home/img/icons/categories-icon/motors-icon.png"> -->
            <a href="<%= show_category_page_path(@motor_category.alias_name) %>">
              <span style="color: #7C6085;"><%= @motor_category.name %></span>
              <span class="Category__block__count" v-cloak><%= @motor_category.children.count %></span>
            </a>
            <a href="#motors-modal" class="Categories__view__all">View All</a>
          </div>
          <div class="Category__links__area">
            <% @motor_category.children.each do |child| %>
              <%= link_to(child.name,show_category_page_with_children_path(@motor_category.alias_name,child.alias_name),:class => "Category__link__button") %>
            <% end %>  
          </div>
        </div>
        <div class="Category__block">
          <div class="Category__block__heading">
            <a href="<%= show_category_page_path(@classified_category.alias_name) %>">
              <span style="color: #68BD45;"><%= @classified_category.name %></span>
              <span class="Category__block__count" v-cloak><%= @classified_category.children.count %></span>
            </a>
            <a href="#item-for-sale-modal" class="Categories__view__all">View All</a>
          </div>
          <div class="Category__links__area">
            <% @classified_category.children.each do |child| %>
              <%= link_to(child.name,show_category_page_with_children_path(@classified_category.alias_name,child.alias_name),:class => "Category__link__button") %>
            <% end %>  
          </div>
        </div>
        <div class="Category__block mr0">
          <div class="Category__all">
        	<div id="motors-modal" class="Category__modal__block mfp-hide">
		      <div class="Category__modal__heading cf">
			    <h3 style="color: #7C6085;">Motors <span class="Category__block__count" v-cloak>#{motors.count}</span></h3>
		      </div>
		      <ul>
			    <li v-for="item in motors.children">
				  <a href="#{item.url}">#{ item.display_name }</a>
			    </li>
         	  </ul>
	       </div>
        	<div id="item-for-sale-modal" class="Category__modal__block mfp-hide">
		      <div class="Category__modal__heading cf">
			    <h3 style="color: #68BD45;">Classifieds <span class="Category__block__count" v-cloak>#{itemForSale.count}</span></h3>
		      </div>
		      <ul>
			    <li v-for="item in itemForSale.children">
				  <a href="#{item.url}">#{ item.display_name }</a>
			    </li>
		      </ul>
	        </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Homepage__card Homepage__marketing">    
      <a href="#" target="_blank">
        <!-- <img src="/static/home/img/marketing/know-your-rights-banner-en.jpg"> -->
      </a>
      <a href="#" target="_blank">
        <!-- <img src="/static/home/img/marketing/motor-banner.png"> -->
      </a>
    </div>
    <div class="Category__dump" style="display: none;">
    </div>
  </div>
</div>
         